.container {
    margin-bottom: 40px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding-left: 4px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}